@charset "UTF-8";

/* 共通 */
$blue: #02448f;
$darkblue: #012956;
$skyblue: #3da9ff;
$black: #333333;
$red: #e01428;
$darkred : #9f1a1a;
$white : #f5f5f5;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 100%;
  background-color: $white;
  color: $black;
  /*footerを最下部に固定する*/
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さを確保*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  }

/* パーツ */
/* ―ボタン */
.btn {
  display: inline-block;
  padding: 12px 32px;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  width: fit-content;
}

.btn-blue {
  background-color: $blue;
  &:hover {
    background-color: $darkblue;
  }
}

.btn-red {
  background-color: $red;
  &:hover {
    background-color: $darkred;
  }
}

.btn-small {
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  width: fit-content;
}

.btn-small-blue {
  background-color: $blue;
  &:hover {
    background-color: $darkblue;
  }
}

.btn-small-red {
  background-color: $red;
  &:hover {
    background-color: $darkred;
  }
}

.btn-small-gray {
  background-color: #5d5d5d;
  &:hover {
    background-color: #333333;
  }
}

/* ―フォーム */
label {
  display:block;
  text-align: left;
}

input[type="text"],input[type="email"],input[type="password"]{
  background: #eee;
  height: 2.4rem;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  margin-bottom: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 2px $skyblue inset;
}


textarea {
  background: #eee;
  width: 100%;
  height: 8em;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  margin-bottom: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus{
    outline: 0;
    box-shadow: 0 0 0 2px $skyblue inset;
  }
}

/* ―タイトル */
.title {
  text-align: center;
  margin: 40px 0;
}

/* ―flashメッセージ*/
.alert {
  color: $red;
  text-align: center;
  margin: 10px 0;
}

/* ―errorメッセージ*/
.error-message {
  color: $red;
  margin-bottom: 5px;
  list-style: none;
  &:last-child {
    margin-bottom: 15px;
  }
}

.field_with_errors input{
  outline: none;
  box-shadow: 0 0 0 2px $red inset;
}

/* ―太字 */
.bold {
  font-weight: bold;
}

/* 中央揃えしたい要素を囲むdiv */
.center {
  text-align: center;
  margin: auto;
}

/* ヘッダー */
.header {
  background-color: $blue;
  height: 80px;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    display: inline;
    width: 180px;
  }
  a {
    color: #ffffff;
  }
}

.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 30px;
  height: 100%;
}
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
}

.nav-item a {
  position: relative;
}

/* ―ホバーエフェクト */
.nav-item a::after {
  /*アンダーラインのスタイル*/
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
  /*幅を0に設定*/
  width: 0;
  /*アニメーションの速度設定*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-item a:hover::after {
  /*幅を100%に設定*/
  width: 100%;
}

/* ―ドロップダウン */
.dropdown-lists {
  display: none; /*普段は非表示*/
  list-style: none;
  padding-left: 0;
  width: 150%;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
}

.nav-item:hover .dropdown-lists {
  display: block;/*ナビにホバーしたら表示*/
}

.dropdown-list {
  background-color: $darkblue;
  height: 40px;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}
.dropdown-list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown-list:hover {
  background-color: $blue;
}

.dropdown-list a {
  color: #fff;
  text-decoration: none;
  position: relative;
}


/* フッター */
footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #cccccc;
  width: 100%;
  /*最下部に固定。フッターの高さを変えたときはbodyのpadding-bottomも変える*/
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

/* 登録画面 */
.form {
  text-align: center;
  width: 300px;
  margin: auto;
}

/* アカウントページ */
.show-item {
  display: flex;
  align-items: center;
  gap: 3%;
  margin: auto;
  margin-bottom: 20px;
  h3 {
    text-align: right;
    font-size: 1rem;
    width: 42%;
  }
  p {
    width: 30%;
  }
}

/* アカウント削除 */
.warning {
  background: #ffd5d5;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  li{
    list-style-position: inside;
  }
}


/* パスワード一覧 */
.password-list{
  display: flex;
  border-top: 1px solid #ccc;
  align-items: center;
  gap: 1%;
  padding: 10px 0;
  position: relative;  /* link_to_show用 */
  h3 {
    margin-left: 1%;
    width: 35%;
    overflow-wrap: anywhere;
  }
  p {
    margin-right: auto;
    width: 30%;
    overflow-wrap: anywhere;
  }
  &:hover{
    background: #ddd;
  }
  .btn-small:last-child {
    margin-right: 10px;
  }
}

.link_to_show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
}

.side-of-the-table {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  h3 {
    margin-left: 1%;
    width: 35%;
    font-size: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.search_form {
  display: flex;
  width: 35%;
  min-width: 200px;
  height: 2.4rem;
  margin-right: auto;
  gap: 10px;
}

.serach-form-and-add-btn {
display: flex;
margin: 20px 0;
.btn {
  margin: 0;
}
}


/* パスワード編集画面 */












/* ページネーション */
.pagenate{
  width: 100%;
  margin: 10px auto;
}

/* ―全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
}

/* ―ページネーションのspan */
.pagination span{
  text-align: center;
  width: 40px;
}

/* ―ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
}

/* ―ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 100%;
  height: 100%;
  background-color: $blue;
  color: #FFF;
}

/* ―現在のページの数字についての表記 */
.current{
  color: $blue;
  font-weight: bold;
}