<header class="header">
  <div class="container header-container">
    <h1><%= link_to "パスワード管理", '#' %></h1>
    <nav>
      <ul class="nav">
        <li><%= link_to "パスワード", '#' %></li>
        <li><%= link_to "カテゴリー", '#' %></li>
        <li><%= link_to "アカウント", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
